:root {
    --color-primary: #182524;
    --color-secondary: #e2f1e6;
  }
  
  .secao-com-imagem {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url('/public/images/wecare.png');
    background-size: cover;
    background-position: center;
  }
  
  .imagem-de-fundo {
    width: 100%;
    height: auto; /* Makes the height responsive */
  }
  
  .conteudo {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column; /* Ensures logo appears below text */
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    width: 100%;
    height: 100%;
  }
  
  .texto h1 {
    font-size: 28px;
    font-weight: 700;
    padding-top: 10px;
  }
  
  .texto p {
    margin: 20px;
    padding: 2x;
  }
  
  .texto {
    text-align: center;
    color: var(--color-secondary);
  }
  
  .logotipo {
    width: 150px;
    padding-top: 10px;
  }
  