:root {
    --color-primary: #182524;
    --color-secondary: #E2F1E6;
}

.container-all {
    background-color: var(--color-secondary);
    padding: 30px 80px;
}

.container-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 28px;
    font-weight: 700;
    color: var(--color-primary);
    padding-bottom: 10px;
    text-align: center;
}

.container-principal {

    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.container-card p {
    padding-top: 10px;
}

.card {
    background-color: var(--color-primary);
    height: 150px;
    width: 150px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 1200px) {
    .container-principal {
        background-color: var(--color-secondary);
        padding: 30px;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }
}
