:root {
    --color-primary: #182524;
    --color-secondary: #E2F1E6;
  }

.container-banner {
  position: relative;
  width: 100%; /* ajuste conforme necessário */
  height: auto; /* ajuste conforme necessário */
}

.banner-logo {
display: flex;
  width: 100%; /* ajuste conforme necessário */
  height: auto; /* ajuste conforme necessário */
}

.logo {
  display: block;
  width: 100%; /* ajuste conforme necessário */
  height: auto; /* ajuste conforme necessário */
}

.background {
  position: relative; /* imagem de fundo */
}

.overlay {
  position: absolute;
  top: -20px;
  left: -30px;
    width: 120px;
  transform: translate(50%, 50%);
}

.banner-button {
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border: none;
    bottom: 50px;
    left: -40px;
    padding: 10px;
    border-radius: 28px;
    width: 120px;
    transform: translate(50%, 50%);
    transition: all 0.3s;
  }
  
  .banner-button:hover {
    cursor: pointer;
    transform: translate(50%, 50%) scale(1.1); 
  }